body {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.left-side{
    /* background-color: #181C2E; */
}

.menu-element:hover{
    color: #673DE6;
    background-color: #F8F8F8  ;
    border: #673DE6 solid;
}

.menu-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem; /* reduce gap */

    margin: 0.5rem; /* reduce margin */
    padding: 0.5rem; /* reduce padding */
    background-color: #673DE6;
    color: #F8F8F8;
    border-radius: 20px;
}

a {
    text-decoration: none;
}


fa-icon{
    font-size: 2rem; /* reduce font size */
}

@media (max-width:900px){
    .menu-element{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


}